:root {
  --color-yellow: #ffcc4a;
  --color-green: #4eaf4e;
  --color-black: #151515;
  --color-dark: rgba(27, 27, 27, 0.91);
  --color-gray: #ebebeb;
  --color-white: #fff;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: var(--color-dark);
  padding: 40px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.heading {
  font-family: cabin, sans-serif;
}

.header__logo {
  font-size: 30px;
  color: var(--color-white);
}

.logo {
  display: flex;
  column-gap: 11px;
}

.nav__menu {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
}

.nav__link {
  color: var(--color-white);
  font-size: 17.128px;
}

.action-button {
  background-color: var(--color-white);
  border-radius: 42px;
  display: inline-flex;
  align-items: center;
  padding: 8px 41px 8px 10px;
  column-gap: 11px;
  color: var(--color-dark);
}

.hero {
  background-color: var(--color-gray);
}

.hero__info {
  max-width: 508px;
}

.label {
  text-transform: uppercase;
  letter-spacing: 2.32px;
  line-height: 147.5%;
  padding: 0px 11px;
}

.label_yellow {
  background-color: var(--color-yellow);
}

.hero__heading {
  font-size: 50px;
}

.hero__label {
  display: inline-block;
  margin-bottom: 19px;
}

.hero__text {
  margin-top: 20px;
  margin-bottom: 29px;
}

.hero__row {
  display: flex;
  gap: 140px;
  align-items: center;
  flex-wrap: wrap;
}

.hero__image {
  width: 20%;
}

.advantages {
  position: relative;
  top: -120px;
}

.advantages__row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.advantages-card {
  border-radius: 20px;
  padding: 48px;
  padding-top: 237px;
  max-width: 388px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.advantages__heading {
  font-size: 25px;
}

.advantages__text {
  margin-top: 10px;
  margin-bottom: 15px;
}

.advantages__link {
  padding: 16px 31px;
  border-radius: 55px;
  display: inline-block;
  color: var(--color-black);
  font-weight: bold;
}

.advantages__card-services {
  background-image: url(img/Card1.png);
}

.advantages__card-approach {
  background-image: url(img/Card2.png);
}

.advantages__card-solution {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.advantages__link_white {
  background-color: var(--color-white);
}

.advantages__link_black {
  background-color: var(--color-black);
  color: var(--color-white);
}

.advantages-card__icons {
  transform: rotate(-15deg);
  position: absolute;
  top: 0;
  left: 0;
}

.advantages-card__icon-1 {
  /* border: 2px solid red; */
  transform: rotate(15deg) translate(50px, 70px);
}

.advantages-card__icon-2 {
  /* border: 2px solid red; */
  transform: rotate(15deg) translate(210px, 30px);
}

.advantages-card__icon-3 {
  /* border: 2px solid red; */
  transform: rotate(-15deg) translate(0px, 20px);
}

.advantages-card__icon-4 {
  /* border: 2px solid red; */
  transform: rotate(15deg) translate(40px, -20px);
}

.advantages-card__icon-5 {
  /* border: 2px solid red; */
  transform: rotate(15deg) translate(-50px, 140px);
}

.advantages-card__icon-6 {
  /* border: 2px solid red; */
  transform: rotate(20deg) translate(-5px, 155px);
}

.advantages-card__icon-7 {
  /* border: 2px solid red; */
  transform: rotate(30deg) translate(0px, -140px);
  scale: 0.7;
}

.statistics {
  background: linear-gradient(rgba(251, 195, 54, 0.9), rgba(251, 195, 54, 0.9)),
    url(img/Statistics-png.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
  padding: 133px 0;
}

.statistics__row {
  display: flex;
  gap: 89px;
}

.statistics__info {
  max-width: 375px;
}

.label_white {
  background-color: var(--color-white);
}

.statistics__heading {
  font-size: 45px;
  margin-top: 22px;
  margin-bottom: 20px;
}

.statistics__items {
  display: flex;
  gap: 80px;
}

/* 
.statistics__range {
  appearance: none;
  border-radius: none;
}

.statistics__range::-webkit-slider-runnable-track {
  background-color: grey;
  border-radius: 30px;
}

.statistics__range::-webkit-slider-thumb {
  appearance: none;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid wheat;
}
 Кастом процентного слайдера */

.statistics__range-wrapper {
  width: 186px;
  height: 186px;
  border-radius: 50%;
  position: relative;
}

.statistics__range-consistency {
  background-image: conic-gradient(#fff 85%, rgb(218, 174, 60) 0%);
}

.statistics__range-improvment {
  background-image: conic-gradient(#fff 95%, rgb(218, 174, 60) 0%);
}

.statistics__range-branching {
  background-image: conic-gradient(#fff 90%, rgb(218, 174, 60) 0%);
}

.statistics__range-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  background-color: var(--color-yellow);
  border-radius: 50%;
}

.statistics__range-wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  background-color: var(--color-black);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  z-index: 1;
}

.statistics__range-consistency::before {
  top: 30px;
}

.statistics__range-improvment::before {
  top: -8px;
  left: 50px;
}

.statistics__range-branching::before {
  top: 10px;
  left: 17px;
}

.statistics__procent {
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.statistics__item {
  text-align: center;
}
.statistics__label {
  display: inline-block;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}
